<div fxLayout="column" fxFlex="100%" fxLayoutAlign="center center">
  <div fxFlex="50%">
    <div fxLayout>
      <div fxFlex="30%" fxFlex.lt-lg="0px"></div>
      <div fxFlex="5%"></div>
      <form #UserLogin="ngForm" fxFlex="30%" fxFlex.lt-lg="90%" (ngSubmit)="login()">
        <mat-card fxLayoutAlign="space-evenly stretch" fxLayout="column">
          <mat-card-content fxLayout="column">
            <mat-form-field>
              <input name="username" matInput placeholder="Username or email" [(ngModel)]="form.login">
            </mat-form-field>
            <mat-form-field>
              <input name="password" matInput type="password" placeholder="Password" [(ngModel)]="form.password">
            </mat-form-field>
          </mat-card-content>
          <div fxLayoutAlign="center center">
            <button type="submit" mat-raised-button color="accent">Login</button>
          </div>
        </mat-card>
      </form>
      <div fxFlex="5%"></div>
      <div fxFlex="30%" fxFlex.lt-lg="0px"></div>
    </div>
  </div>
</div>
