<div fxLayout="column" fxFlex="100%" fxLayoutAlign="center center">
  <div fxFlex="100%">
    <div fxLayout>
      <div fxFlex="20%"></div>
      <form #UserLogin="ngForm" fxFlex="100%" (ngSubmit)="login()">
        <mat-card fxLayoutAlign="space-evenly stretch" fxLayout="column">
          <mat-card-content fxLayout="column">
            <mat-form-field>
              <input name="username" matInput placeholder="Username or email" [(ngModel)]="form.login">
            </mat-form-field>
            <mat-form-field>
              <input name="password" matInput type="password" placeholder="Password" [(ngModel)]="form.password">
            </mat-form-field>
              <mat-checkbox class="example-margin" name="remember me checkbox" [(ngModel)]="form.rememberMe">Remember me</mat-checkbox>
          </mat-card-content>
          <div fxLayoutAlign="center center">
            <button type="submit" mat-raised-button color="accent">Login</button>
          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>
