<mat-card fxLayoutGap="30px">
  <mat-card-header>
    <mat-card-title>{{user.username}}</mat-card-title>
    <mat-card-subtitle>{{roleName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayoutAlign="start start" fxLayoutGap="10px" fxLayout="row">

    <div fxLayout="column" fxLayoutAlign="space-around start">
      <div [style.background-image]="user.imageUrl"></div>
      <div>Username: {{user.username}}</div>
      <div>Email: {{user.email}}</div>
      <div>First name: {{user.firstName}}</div>
      <div>Last name: {{user.lastName}}</div>
      <div>Registered: {{user.registrationDate}}</div>
      <div>Songs in library: {{user.songs.length}}</div>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-around start">

    </div>
  </mat-card-content>

</mat-card>
