<footer style="position: absolute; bottom: 0; width: 100%;">
  <mat-toolbar fxLayout="space-between stretch" fxFlex="grow" class="mat-elevation-z6 app-navbar" color="primary">
    <div fxLayoutAlign="start center" fxFlex="50%">
      <span>&copy; Copyright Andrzej Przybysz <a href="https://www.przybysz.tech">przybysz.tech</a></span>
    </div>
    <div fxLayoutAlign="space-evenly end" fxLayout="column" fxFlex="50%">
      <div fxLayout="column" fxLayoutAlign="space-evenly start">
        <span (click)="showContact()" style="cursor: pointer">Contact</span>
        <span (click)="showStk()" style="cursor: pointer">About STK</span>
      </div>
    </div>
  </mat-toolbar>
</footer>
