.button-panel {
  margin-left: 40px;
}

.editor-content {
  margin: 30px 40px;
}

.song-lyrics {
  min-height: 60vh;
}

.tag-list {
  margin-top: 15px;
}

.coauthors-list {
  margin-left: 15px;
}

.error-box {
  margin-bottom: 0 !important;
}
