<div fxLayout="column">

  <div fxFlex="30%">
    <div fxLayout>
      <div fxFlex="30%" fxFlex.lt-lg="0px"></div>
      <div fxFlex="5%"></div>
      <form *ngIf="!isCreated" #UserLogin="ngForm" fxFlex="30%" fxFlex.lt-lg="90%" (ngSubmit)="register()">
        <mat-card>
          <mat-card-content fxLayout="column">
            <mat-form-field>
              <input name="username" matInput placeholder="username" [(ngModel)]="form.username" required>
            </mat-form-field>
            <mat-form-field>
              <input name="email" matInput type="email" placeholder="email" [(ngModel)]="form.email" required>
            </mat-form-field>
            <mat-form-field>
              <input name="first name" matInput placeholder="First name" [(ngModel)]="form.firstName">
            </mat-form-field>
            <mat-form-field>
              <input name="last name" matInput placeholder="Last name" [(ngModel)]="form.lastName">
            </mat-form-field>
            <mat-form-field>
              <input name="password" matInput type="password" placeholder="Password" [(ngModel)]="form.password"
                     required>
            </mat-form-field>
            <mat-form-field>
              <input name="password" matInput type="password" placeholder="Confirm password"
                     [(ngModel)]="confirmPassword" required>
            </mat-form-field>
          </mat-card-content>
          <button type="submit" mat-raised-button color="accent">Register</button>
        </mat-card>
      </form>
      <div *ngIf="isCreated" fxLayout="column">
        <div>Account created. Activation mail was sent to <strong>{{form.email}}</strong></div>
        <button mat-raised-button color="accent" (click)="goToLogin()">Login page</button>
      </div>
      <div fxFlex="5%"></div>
      <div fxFlex="30%" fxFlex.lt-lg="0px"></div>
    </div>
  </div>
  <div *ngIf="isError">
    <mat-card fxLayoutAlign="space-evenly stretch">
      <span>Errors:</span>
      <ul>
        <li *ngFor="let message of errors">{{message}}</li>
      </ul>
    </mat-card>
  </div>
</div>
