<div fxLayout="column">
  <div class="button-panel" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
    <button mat-raised-button color="primary" matTooltip="Go back" (click)="close()">Back</button>
    <button mat-raised-button color="primary" matTooltip="Edit the song"
            *appCanEditSong="data.song" (click)="editSong()">Edit
    </button>
    <button mat-raised-button color="primary" matTooltip="Delete the song"
            *appCanEditSong="data.song" (click)="deleteSong()">Delete
    </button>
  </div>

  <div class="song-details">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-card fxFlex="50%">
        <mat-card-header fxLayout="column">
          <mat-card-title class="song-details-title">{{data.song.title}}</mat-card-title>
          <mat-card-subtitle class="song-details-author">{{data.author.name}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center" fxFlex="50%">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
          <span>Average rating: {{data.song.averageRating ? data.song.averageRating : 'Not rated yet'}}</span>
          <app-rating-star *appActivatedByRoles="rolesForUser" [value]="getRatingLabelValue()"
                           (valueChange)="updateRating($event)"
                           [amount]="maxRating"></app-rating-star>
        </div>
        <div fxLayout="column" fxLayoutAlign="center stretch">
          <ng-container *appActivatedByRoles="rolesForUser">
            <button mat-stroked-button color="accent" *ngIf="!inUserLib" (click)="addToLib()">Add to library</button>
            <button mat-stroked-button color="accent" *ngIf="inUserLib" (click)="removeFromLib()">Remove from library
            </button>
            <button mat-stroked-button color="accent" (click)="addToPlaylist()">Add to playlist</button>
          </ng-container>
        </div>
      </div>
    </div>

        <div class="song-details-content" fxLayout="column">
          <!--
          <mat-card fxLayout="row" class="song-lyrics">
            <mat-card-content fxFlex="50%" fxLayout="column" fxLayoutGap="15px">
              <mat-card-subtitle>Lyrics</mat-card-subtitle>
              <pre>{{data.song.lyrics}}</pre>
            </mat-card-content>
            <mat-card-content fxFlex="50%" fxLayout="column">
              <mat-card-subtitle>Guitar tabs</mat-card-subtitle>
              <pre>{{data.song.guitarTabs}}</pre>
            </mat-card-content>
          </mat-card>
    -->
          <mat-card fxLayout="row" class="song-extras">
            <div fxFlex="25%">
              <mat-chip selected color="primary">Category: {{data.category.name}}</mat-chip>
              <div fxLayout="column" class="tag-container">
                <span>Tags:</span>
                <mat-chip-list>
                  <mat-chip *ngFor="let chip of data.tags" selected color="accent">
                    {{chip.name}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
            <div fxFlex="25%">
              <div *ngIf="data.coauthors.length > 0" fxLayout="column">
                <span>Coauthors: </span>
                <mat-chip-list fxLayout="column" class="coauthor-list">
                  <mat-chip *ngFor="let coauthor of data.coauthors" selected color="warn">
                    {{coauthor.coauthor.coauthorFunction}}: {{coauthor.author.name}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
            <div fxFlex="25%">
              <span>Added by: {{data.add.user.username}} {{data.add.songAdd.timestamp | dateFormatPipe}}</span>
            </div>
            <mat-expansion-panel fxFlex="25%">
              <mat-expansion-panel-header>
                <mat-panel-title>Edits:</mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngFor="let edit of data.edits">
                <span>{{edit.user.username}} - {{edit.edit.timestamp | dateFormatPipe}}</span>
                <mat-divider></mat-divider>
              </div>
            </mat-expansion-panel>
          </mat-card>
        </div>
      </div>
    </div>




