<div class="page" fxLayout="row" fxLayoutAlign="start stretch">

  <!-- component for left navbar -->
  <div class="left-navbar" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start stretch" fxFlex="25%">
    <div>
      <mat-card (click)="showSongs()" style="background-color: burlywood">
        <mat-card-header>
          <mat-card-title>Browse songs</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="start">
          <mat-icon>library_books</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
    <div *appActivatedByRoles="rolesForModerator">
      <mat-card (click)="showCategories()" style="background-color: lightcoral">
        <mat-card-header>
          <mat-card-title>Categories</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="start">
          <mat-icon>widgets</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
    <div *appActivatedByRoles="rolesForModerator">
      <mat-card (click)="showAuthors()" style="background-color: lightcoral">
        <mat-card-header>
          <mat-card-title>Authors</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayoutAlign="start">
          <mat-icon>group_work</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="landing-page-hello" fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
      <img src="assets/logo/223x250.png" alt="App logo">
      <span class="hello-message">Welcome to the STK Songbook application where you can browse our enormous database of songs for playing on a guitar by the fire.</span>
    </div>
    <div class="instructions" fxLayout="column" fxLayoutAlign="start start">
      <span>You can create your own library of songs and playlists (like Spotify). You can rate songs and create new ones or edit some existing.</span>
      <span>Some of actions are possible only for moderators or admins, but don't worry - you can click everything you see :)</span>
    </div>

  </div>

</div>
