<div class="page" fxLayout="column" fxLayoutGap="25px">


  <mat-toolbar fxLayout fxFlex="0 0 auto" color="primary" fxLayoutGap="15px" fxLayoutAlign="end center">
    <span>STK Songbook</span>
  </mat-toolbar>

  <div fxFlex="1 1 auto" style="overflow-y:auto">
    <div fxLayout="column">
      <div fxFlex="0 0 10px"></div>
      <div fxFlex="1 1 auto" fxLayout="row" style="padding-top: 3px">
        <div fxFlex="1 1 10%"></div>
        <div fxFlex="8 8 80%">
          <router-outlet></router-outlet>
        </div>
        <div fxFlex="1 1 10%"></div>
      </div>
    </div>
  </div>

  <mat-toolbar fxFlex="0 0 auto" color="primary">
  </mat-toolbar>

</div>
