<mat-toolbar fxLayout="row" color="primary" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="30px">
    <div fxLayoutAlign="start center" fxLayoutGap="15px" fxFlex="50%">
      <button mat-mini-fab color="accent" (click)="close()" matTooltip="Close">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    <div fxLayoutAlign="end center" fxLayoutGap="15px" fxFlex="50%">
      {{data.user.username}}
    </div>
  </div>
  <div fxLayoutAlign="space-around center" fxLayout="row" fxLayoutGap="15px" [style.height]="'100%'">
    <div [style.height]="'100%'">Profile</div>
    <div>Songs</div>
    <div>Playlists</div>
    <div>Added songs</div>
    <div>Edited songs</div>
  </div>
</mat-toolbar>

<app-user-profile-panel [user]="data.user" [roleName]="data.role.name"></app-user-profile-panel>
