
.main-nav {
  z-index: 10000;
  display: none;
  opacity: 0;
  font-family: sans-serif;
  transition: opacity 250ms;

  &.active {
    display: block;
    opacity: 1;
    transition: opacity 250ms;
  }

  > ul {
    width: 100%;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #cc3333;
    box-shadow: 2px 2px 8px #777;
    border-radius: 3px 3px 10px 10px;

    > li > a {
      text-decoration: none;
      display: block;
      font-weight: 200;
      padding: 18px 80px 18px 18px;
      color: white;

      &:hover {
        font-weight: 400;
      }
    }
  }
}
