<div fxLayout="column">

  <div fxFlex="30%">
    <div fxLayout>
      <div fxFlex="30%" fxFlex.lt-lg="0px"></div>
      <div fxFlex="5%"></div>
      <form #UserLogin="ngForm" fxFlex="30%" fxFlex.lt-lg="90%" (ngSubmit)="login()">
        <mat-card>
          <mat-card-content fxLayout="column">
            <mat-form-field>
              <input name="username" matInput placeholder="Username or email" [(ngModel)]="modelProvider.login">
            </mat-form-field>
            <mat-form-field>
              <input name="password" matInput type="password" placeholder="Password" [(ngModel)]="modelProvider.password">
            </mat-form-field>
          </mat-card-content>
          <button type="submit" mat-raised-button color="accent">Login</button>
        </mat-card>
      </form>
      <div fxFlex="5%"></div>
      <div fxFlex="30%" fxFlex.lt-lg="0px"></div>
    </div>
  </div>
</div>
