<div fxLayout="column" fxFlex="100%">
  <div fxFlex="100%">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxFlex="20%"></div>
      <form #UserLogin="ngForm" fxFlex="100%" (ngSubmit)="login()">
        <mat-card fxLayoutAlign="center stretch" fxLayout="column">
          <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
            <app-warning-message-box *ngIf="isError" [message]="errorMessage"></app-warning-message-box>
            <mat-form-field>
              <input name="username" matInput placeholder="Username or email" [(ngModel)]="form.login">
            </mat-form-field>
            <mat-form-field>
              <input name="password" matInput type="password" placeholder="Password" [(ngModel)]="form.password">
            </mat-form-field>
            <mat-checkbox class="example-margin" name="remember me checkbox" [(ngModel)]="form.rememberMe" i18n="@@remember_me">Remember me
            </mat-checkbox>
            <a [routerLink]="['/password-reset-request']" i18n="@@forgot_password">Forgot password?</a>
          </mat-card-content>
          <div fxLayoutAlign="center center">
            <button type="submit" mat-raised-button color="accent" i18n="@@login">Login</button>
          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>
