<div fxLayout="column" fxFlex="100%" fxLayoutAlign="center center">
  <div fxFlex="100%">
    <div fxLayout>
      <div fxFlex="20%"></div>
      <form #UserLogin="ngForm" fxFlex="100%" (ngSubmit)="reset()">
        <mat-card>
          <app-warning-message-box *ngIf="isNoTokenError" [message]="noTokenErrorMessage"></app-warning-message-box>
          <div *ngIf="!isNoTokenError" fxLayoutAlign="space-evenly stretch" fxLayout="column">
            <mat-card-content fxLayout="column">
              <app-warning-message-box *ngIf="isError" [message]="errorMessage"></app-warning-message-box>
              <app-success-message-box *ngIf="message.length > 0" [messages]="[message]"></app-success-message-box>
              <mat-form-field>
                <input name="new password" matInput type="password" placeholder="New password"
                       [(ngModel)]="form.newPass" [formControl]="passwordForm">
                <mat-hint align="end" i18n="@@hint.input.length">Min 6 and not more than 128 characters long</mat-hint>
                <mat-error *ngIf="hasError(passwordForm, 'pattern')">Password should be min 6 and not more than 128
                  characters long
                </mat-error>
                <mat-error *ngIf="hasError(passwordForm, 'required')" i18n="@@error.param.required">Password is required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input name="password" matInput type="password" placeholder="Password" [(ngModel)]="form.confirmPass"
                       [formControl]="confirmPasswordForm"
                       (change)="validateConfirmPassword()">
                <mat-error *ngIf="hasError(confirmPasswordForm, 'required')" i18n="@@error.para.required">Password is required</mat-error>
              </mat-form-field>
            </mat-card-content>
            <div fxLayoutAlign="center center">
              <button type="submit" mat-raised-button color="accent" i18n="@@reser.button">Reset</button>
            </div>
          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>
