<div fxLayout="column">
  <div class="button-panel" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
    <button mat-raised-button color="primary" matTooltip="Close" (click)="close()">Close</button>
  </div>

  <div class="content" fxLayout="row" fxLayoutAlign="space-between start">
    <div fxLayout="column" fxFlex="40%" cdkScrollable>
      <mat-card *ngFor="let user of users" (click)="select(user)" class="user-card">
        <mat-card-header>
          <img mat-card-avatar class="user-avatar-image" [src]="user.imageUrl" alt="user avatar">
          <mat-card-title>{{user.username}}</mat-card-title>
          <mat-card-subtitle
            *ngIf="user.firstName || user.lastName">{{user.firstName}} {{user.lastName}}</mat-card-subtitle>
          <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-chip-list>
            <mat-chip *ngIf="user.userRoleId === superuserRole?.id" [style.background-color]="'#ffcc00'" selected>{{superuserRole.name}}</mat-chip>
            <mat-chip *ngIf="user.userRoleId === adminRole?.id" [style.background-color]="'#ff0000'" selected>{{adminRole.name}}</mat-chip>
            <mat-chip *ngIf="user.userRoleId === moderatorRole?.id" [style.background-color]="'#ff66ff'" selected>{{moderatorRole.name}}</mat-chip>
            <mat-chip *ngIf="user.userRoleId === userRole?.id" [style.background-color]="'#00cc44'" selected>{{userRole.name}}</mat-chip>
            <mat-chip *ngIf="!user.activated" color="warn" selected>Not activated</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="40%">
      <mat-card *ngIf="selectedUser" fxLayout="column" fxLayoutAlign="start stretch">
        <div fxLayout="row">
          <div fxLayout="column" fxFlex="grow" fxLayoutAlign="center stretch">
            <app-warning-message-box *ngIf="isError" [message]="errorMessage"></app-warning-message-box>
            <mat-card-header fxLayout="row" fxLayoutAlign="start start">
              <img mat-card-avatar class="user-avatar-image" [src]="selectedUser.imageUrl" alt="user avatar">
              <div fxLayout="column">
                <mat-card-title>
                  {{selectedUser.username}}
                </mat-card-title>
                <mat-card-subtitle>
                  {{selectedUser.email}}
                </mat-card-subtitle>
              </div>
              <mat-chip fxLayoutAlign="center center" *ngIf="!selectedUser.activated"
                        color="warn" selected [style.margin-left]="'10px'">Not activated</mat-chip>
            </mat-card-header>
          </div>
          <div fxLayoutAlign="end start">
            <button *ngIf="selectedUser" mat-mini-fab color="accent" (click)="deselect()">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </div>

        <mat-card-content fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field appearance="fill" fxFlex="50%" *ngIf="selectedUser.userRoleId !== superuserRole.id">
              <mat-label>User's role</mat-label>
              <mat-select [formControl]="roleControl" required (selectionChange)="changeRole($event)">
                <mat-option *ngFor="let role of availableRoles" [value]="role.id">
                  {{role.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="roleControl.hasError('required')">Please choose a role</mat-error>
            </mat-form-field>
            <div fxFlex="50%" fxLayout="row" fxLayoutAlign="center center">
              <button *ngIf="selectedUser.userRoleId !== superuserRole.id" mat-stroked-button color="warn" (click)="delete($event)">
                Delete user
              </button>
              <button *ngIf="!selectedUser.activated" mat-stroked-button color="accent" (click)="activateUser($event)">
                Activate user
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

