<mat-card fxLayoutGap="30px">
  <mat-card-header>
    <mat-card-title>{{user.username}}</mat-card-title>
    <mat-card-subtitle>{{roleName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayoutAlign="start start" fxLayoutGap="10px" fxLayout="row">

    <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="10px">
      <img [style.background-image]="user.imageUrl" [alt]="'User avatar'">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <span>Username: {{user.username}}</span>
        <!-- <button mat-button>
          <mat-icon>edit</mat-icon>
        </button> -->
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <span>Email: {{user.email}}</span>
        <!-- <button mat-button>
          <mat-icon>edit</mat-icon>
        </button> -->
      </div>
      <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start center">
        <span>First name: {{user.firstName}}</span>
        <button mat-button (click)="editFirstName()" *ngIf="!editableFirstName">
          <mat-icon>edit</mat-icon>
        </button>
        <mat-form-field *ngIf="editableFirstName">
          <mat-label>First name</mat-label>
          <input matInput placeholder="write name here..."
                 [(ngModel)]="firstNameToUpdate">
        </mat-form-field>
        <button *ngIf="editableFirstName" mat-button (click)="updateFirstName()">Update</button>
      </div>
      <div fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start center">
        <span>Last name: {{user.lastName}}</span>
        <button mat-button (click)="editLastName()" *ngIf="!editableLastName">
          <mat-icon>edit</mat-icon>
        </button>
        <mat-form-field *ngIf="editableLastName">
          <mat-label>Last name</mat-label>
          <input matInput placeholder="write name here..."
                 [(ngModel)]="lastNameToUpdate">
        </mat-form-field>
        <button *ngIf="editableLastName" mat-button (click)="updateLastName()">Update</button>
      </div>
      <div>
        <span>Registered: {{user.registrationDate}}</span>
      </div>
      <div>
        <span>Songs in library: {{user.songs.length}}</span>
      </div>
      <button mat-button (click)="resetPassword()">Reset password</button>
      <span *ngIf="resetActivated">Password reset email has been sent</span>
    </div>

  </mat-card-content>

</mat-card>
